*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Covered By Your Grace';
    text-decoration: none;
    font-weight: 400;
}

body{
    background: black;
    color: white;
    font-size: 22px;
    line-height: 200%;
}

.dropdown_menu.open{
    border: 3px solid white;
    height: 190px;
    z-index: 2;
    line-height: 82%;
}


section{
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 0 5rem;
}

.description{
    padding-top: 1.5rem;
    letter-spacing: 1.5px;
    word-spacing: 4px;
    
}
.up{
    padding-top: 8rem;
}
.up .description{
    padding-top: 0;
}
.up .photo{
    padding-top: 1rem;
}
.a_list{
    padding-top: 2rem;
}

.middle .description{
    padding-top: 1rem;
}

.bottom .description{
    padding-top: 4rem;
}

.a_list div{
    display: flex;
}

.a_list div ol{
    line-height: 200%;
}

.a_list div ol li{
    margin: 2rem 0;
}

.a_list div ol li a{
    color: white;
    display: flex;
    align-items: center;
}

.a_list div ol li a:hover{
    color: rgb(93, 15, 131);;
}


.list_el{
    display: flex;
    gap: 2rem;
}

.list_el img{
    border-radius: 5px;
}

.input_group span{
    position: absolute;
    font-size: 14px;
    color: red;
    padding-left: 5px;
}

#submit_error{
    color: red;
    font-size: 14px;
}

.form{
    display: block;
    justify-content: center;
    margin-bottom: 5rem;
}
.title{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
}

input{
    font-size: 20px;
}
button{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

@media(max-width: 1300px){
    section{
        flex-wrap: wrap;
    }
}

@media(max-width: 500px){
    .a_list{
        margin: 0 1rem;
    }    
    .photo img{
        width: 300px;
    }
    section{
        margin: 0 2rem;
        gap: 2rem;
    }
}

@media(max-width: 380px){
    .a_list{
        margin-right: 0;
    }    
    .list_el{
        gap: 1rem;
    }
    .list_el img{
        width: 80px;
    }
    .list_el a{
        font-size: 22px;
    }
    
}