*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Covered By Your Grace';
    text-decoration: none;
    font-weight: 400;
}

body{
    background: black;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    padding-top: 6rem;
}


.box{
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.box img{
    border-radius: 8px;
    cursor: pointer;
}

.box img:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
    margin-bottom: 1rem;
}

.title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}



@media(max-height:650px) and (max-width: 970px) {
    footer{
        margin-top: 2rem;
    }
}


@media(max-height:610px) and (max-width: 970px) {
    footer{
        margin-top: 8rem;
    }
}
@media(max-height:575px) and (max-width: 970px) {
    footer{
        margin-top: 16rem;
    }
}
@media(max-height:385px) and (max-width: 970px) {
    footer{
        margin-top: 24rem;
    }
}
@media(max-height:610px) and (max-width: 730px) {
    footer{
        margin-top: 8rem;
    }
}
@media(max-height:575px) and (max-width: 730px) {
    footer{
        margin-top: 16rem;
    }
}
@media(max-height:385px) and (max-width: 730px) {
    footer{
        margin-top: 24rem;
    }
}

@media(max-width:485px){
    footer{
        margin-top: 40rem;
    }
} 

@media(max-width:485px) and (max-height: 590px){
    footer{
        margin-top: 45rem;
    }
} 
@media(max-width:485px) and (max-height: 525px){
    footer{
        margin-top: 50rem;
    }
} 