*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Covered By Your Grace';
    text-decoration: none;
    font-weight: 400;
}

body,html{
    height: 100%;
}

a{
    padding-bottom: 2rem;
    padding-right: 7rem;
    font-size: 25px;
    color: blue;
}

a:hover{
    color: red;
}

.tracklist_hidden{
    display: none;
    line-height: 200%;
}

.parent {
   position: relative;
}

.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(okladki/latto_w_ghettcie.png);
    filter: blur(10px);
    -webkit-filter: blur(10px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 100vw;
    height: 100vh;

}

section{
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(0);
    -webkit-filter: blur(0);
    z-index: 1;
    padding-left: 15rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
}




.description{
    padding-left: 5rem;
    padding-right: 20rem;
}



p{
    background-color: rgba(0, 0, 0, 0.79);
    padding-left: 1rem;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
}
.tracklist{
    padding-top: 21rem;
    line-height: 200%;
}
ol{
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 2rem;
    padding-right: 4rem;
    background-color: rgba(0, 0, 0, 0.79);
    color: white;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    filter: blur(0);
    -webkit-filter: blur(0);
    z-index: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}


@media(max-width:1275px){
    .description{
        padding-right: 10rem;
        padding-left: 4rem;
    }
    
    section{
        padding-left: 10rem;
    }
    .tracklist{
        padding-top: 20rem;
    }
    p{
        font-size: 20px;
    }
    ol{
        font-size: 18px;
    }
    a{
        padding-right: 6rem;
    }
}

@media(max-width:1030px){
    .description{
        padding-right: 7rem;
        padding-left: 3rem;
    }
    section{
        padding-left: 8rem;
    }

}

@media(max-width:645px){
    section{
        padding-left: 5rem;

    }
    p{
        font-size: 15px;
    }
    ol{
        font-size: 15px;
    }
    a{
        padding-right: 3rem;
        padding-left: 4rem;
    }
}

@media(max-width:555px){
    footer{
        position: fixed;
        bottom: 0;
    }
    .bg-image{
        height: 180vh; 
    }
    .logo{
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .description{
        padding: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        justify-content: center;
    }
   section{
        padding: 0;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;

    }
    .parent{
        display: flex;
        flex-direction: row;
    }

    .tracklist{
        display: none;
    }
    .tracklist_hidden{
        display: block;
        column-count: 2;
        line-height: 150%;
        gap: 0;
        padding: 0;
        padding-top: 27rem;
        /* padding-left: 8rem; */
        /* padding-right: 7rem; */
        margin: 0;
    }

    p{
        font-size: 20px;
    }
    ol{
        font-size: 18px;
        padding: 0;
        padding-left: 1.5rem;
        padding-right: 1rem;
    }

    a{
        padding: 0;
    }
    

}

@media(max-width:530px){
    .tracklist_hidden{
        padding: 0;
        padding-top: 25rem;
        padding-left: 10rem;
        padding-right: 5rem;
        
    }
}

@media(max-width:430px){
    .tracklist_hidden{
        padding: 0;
        padding-top: 25rem;
        padding-left: 10rem;
        padding-right: 3rem;
        
    }
}

@media(max-width:395px){
    .tracklist_hidden{
        padding: 0;
        padding-top: 25rem;
        padding-left: 8rem;
        padding-right: 3rem;
        
    }
}